*{
    margin: 0%;
    padding: 0%;
    background-image: linear-gradient(to right,rgb(189, 189, 179), rgb(189, 117, 144))
}

.head{
    text-align: center;
    margin-top: 5%;
    font-size: 40px;
    color: rgb(36, 48, 6);
    text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px wheat;
}

.container {
    position: relative;
}
  
.left-image {
    display: block;
    border-radius: 8px;
    width: 220px;
    margin-top: 8%;
    margin-left: 20%;
}

.heading {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 250px;
    height:40px;
    font-size: 20px;
    transform: translateX(-50%);
    text-align: center;
    z-index: 100;
    color: rgb(24, 68, 68);
    text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px wheat;
}

.right-image{
    position: absolute;
    border-radius: 8px;
    width: 230px;
    height: 315px;
    transform: translateY(-50%);
    top: 50%;
    right: 18%;
}
